<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Pokedex</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>Welcome to the GEN 1 POKEDEX !!</h1>
        <div id="pokedex">
            <div class="pokemon" v-for="pokemon in pokedex">
                <pokemon v-bind:pokemonurl="pokemon.url"></pokemon>
            </div>
        </div>
    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    // Get all gen 1 pokémons
                    pokedex: axios.get('https://pokeapi.co/api/v2/pokemon?limit=151').then(response => this.pokedex = response.data.results)
                }
            }
        })

        vm.component('pokemon', {
            data() {
                return {
                    pokemonDetails: null
                }
            },
            mounted() {
                if (this.pokemonurl) {
                    // To fetch information about the requested pokemon
                    axios.get(this.pokemonurl).then(response => this.pokemonDetails = response.data);
                }
            },
            props: ['pokemonurl'],
            template: `<p v-if="pokemonDetails"><img v-bind:src="pokemonDetails.sprites.front_default"/>{{ pokemonDetails.name }}</p>`,
        });

        vm.mount('#app');
    </script>
</body>
</html>