<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js Pokedex</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <h1>Welcome to the GEN 1 POKEDEX !!</h1>
        <div id="pokedex" class="container">
            <div class="row">
                <div class="col-4">
                    <div class="pokemon" v-for="pokemon in pokedex">
                        <pokemon @pokemon-to-show="showPokemonInViewer" v-bind:pokemonurl="pokemon.url"></pokemon>
                    </div>
                </div>
                <div class="viewer col-8">
                    <pokeviewer v-bind:pokemonname="selectedPokemonName"></pokeviewer>
                </div>
            </div>


        </div>
    </div>

    <script>
        const vm = Vue.createApp({
            data() {
                return {
                    // Get all gen 1 pokémons
                    pokedex: axios.get('https://pokeapi.co/api/v2/pokemon?limit=151').then(response => this.pokedex = response.data.results),
                    selectedPokemonName: null
                }
            },
            methods: {
                showPokemonInViewer(pokemon){
                    this.selectedPokemonName = pokemon.name;
                }
            },
        })

        vm.component('pokemon', {
            data() {
                return {
                    pokemonDetails: null
                }
            },
            emits: ['pokemon-to-show'],
            mounted() {
                if (this.pokemonurl) {
                    // To fetch information about the requested pokemon
                    axios.get(this.pokemonurl).then(response => this.pokemonDetails = response.data);
                }
            },
            methods: {
                sendPokemonToViewer() {
                    this.$emit('pokemon-to-show', this.pokemonDetails);
                }
            },
            props: ['pokemonurl'],
            template: `<p v-if="pokemonDetails" @click="sendPokemonToViewer"><img v-bind:src="pokemonDetails.sprites.front_default"/>{{ pokemonDetails.name }}</p>`,
        });

        vm.component('pokeviewer', {
            data() {
                return {
                    requestedPokemon: null,
                    pokemonNameCapitalized: null
                }
            },
            props: ['pokemonname'],
            watch: {
                pokemonname: function(newPokemonName) {
                    axios.get('https://pokeapi.co/api/v2/pokemon/'+newPokemonName).then(response => this.requestedPokemon = response.data);
                    this.pokemonNameCapitalized = this.pokemonname.charAt(0).toUpperCase() + this.pokemonname.slice(1)
                }
            },
            template: `
              <p v-if="requestedPokemon">
                <h2>Here is everything about {{ pokemonNameCapitalized }}</h2>
                <img v-bind:src="requestedPokemon.sprites.front_default"/>
              </p>
              <p v-else>
                Click a pokemon to see more infos about it
              </p>
            `,
        })

        vm.mount('#app');
    </script>
</body>
</html>